<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Howe's Fishing</title>

	<style>
		html, body {
			font-family: 'Calibri', sans-serif;
		}

		body {
			max-width: 960px;
		}

		a {
			color: dodgerblue !important;
		}

		.contact * {
			font-size: smaller;
			font-weight: 600;
		}

	</style>
</head>
<body>
<p>Hi, {{firstName}},</p>
<p>This email is to inform you that your guided fishing trip on {{date}} has been <b>Canceled</b></p>
<p>We're sorry you weren't able to join us and we hope to see you on one of our trips soon.</p>
<div class="contact">
	<span>Mike & Cindy Howe</span><br>
	<span>Howe's Fishing - A Able / Mo Fisch Charters</span><br>
	<a href="tel:(406)%20257-5214" value="+14062575214" target="_blank">406-257-5214</a><br>
	<a href="http://www.howesfishing.com" target="_blank">howesfishing.com</a>
</div>
</body>
</html>