<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Howe's Fishing</title>

	<style>
		html, body {
			font-family: 'Calibri', sans-serif;
		}

		body {
			max-width: 960px;
		}

		a {
			color: dodgerblue !important;
		}

		span.tele{
			color: dodgerblue !important;
		}

		h1 {
			font-size: 1.65em;
		}

		h2 {
			color: #0F487F !important;
			margin-bottom: 5px;
			font-size: 1.15em;
		}

		h3 {
			color: #0F487F !important;
			margin-bottom: 5px;
			font-size: 1.05em;
		}

		.contact * {
			font-size: smaller;
			font-weight: 600;
		}

		.license-locations {
			margin: 5px 0;
			padding-left: 15px;
		}

		.license-locations li * {
			font-size: smaller;
		}

		.license-locations li h3 {
			margin: 0;
		}
	</style>
</head>
<body>
<p>Hi {{firstName}},</p>

<p>This is to
	{{ if confirm == "confirm"}}
	{{confirm}}
	{{ else }}
	remind you of
	{{ end }}
	your reservation with us <b>{{timeCost}}</b>
</p>

{{ if directions }}
<h2>Directions</h2>
<p>{{directions}}</p>
{{ end }}

<h3>We provide everything except a fishing license.</h3>
<p>Licenses can be obtained prior to your trip at numerous license outlets around the valley
	<b>(see below)</b>, or online https://app.mt.gov/als/index/index.html
</p>
<p><b>PLEASE-NO spray sunscreens/lotions on boats. It gets everywhere, including on fishing gear.  We are happy to provide sunscreen if you need some.</b></p>

<p>We supply snacks and drinks on all boats; you are welcome to bring your own as well. Please refrain from bringing “Messy Snacks”-Seeds, Doritos, Cheetos, and finger staining type foods. <b>Alcohol is allowed, but please consume in moderation, overindulgence is frowned upon!</b>   NO BANANAS! Bananas are considered “BAD LUCK” by most Charter Boat Captains! (http://www.snopes.com/luck/superstition/bananas.asp  OR  http://miamifishing.com/bananas-and-fishing-boats)</p>

{{ if directions }}
<p>Your catch will be filleted and bagged, ready for the grill.</p>
{{ end }}

<p>Looking forward to having you aboard!</p>

<p>{{from}}</p>
<div class="contact">
	<span>Mike & Cindy Howe</span><br>
	<span>Howe's Fishing - A Able / Mo Fisch Charters</span><br>
	406-257-5214<br>
	howesfishing.com
</div>

<h2 id="locations">License Locations</h2>
<div>
	<h2>Bigfork</h2>
	<ul class="license-locations">
		<li>
			<h3>Ferndale Market</h3>
			<span>1845 Mt Hwy 209</span><br>
			<span class="tele">(406) 837-5597</span><br>
		</li>
		<li>
			<h3>Papa's Woods Bay Market</h3>
			<span>14535 Mt Highway 35</span><br>
			<span class="tele">(406) 837-4884</span><br>
		</li>
		<li>
			<h3>Cenex Station (Your Turn C-Stop)</h3>
			<span>7505 Mt Hwy 35</span><br>
			<span class="tele">(406) 837-6170</span><br>
		</li>
	</ul>
</div>
<div>
	<h2>Columbia Falls</h2>
	<ul class="license-locations">
		<li>
			<h3>Columbia Falls Super 1 Foods</h3>
			<span>2100 9th Street West</span><br>
			<span class="tele">(406) 892-9996</span><br>
		</li>
		<li>
			<h3>Smiths Food And Drug #168</h3>
			<span>419 Nucleus Ave</span><br>
			<span class="tele">(406) 892-9080</span><br>
		</li>
	</ul>
</div>
<div>
	<h2>Kalispell</h2>
	<ul class="license-locations">
		<li>
			<h3>Cabela's</h3>
			<span>125 Treeline Rd</span><br>
			<span class="tele">(406) 203-5200</span><br>
		</li>
		<li>
			<h3>Fish Wildlife And Parks - Region 1</h3>
			<span>490 N Meridian Rd</span><br>
			<span class="tele">(406) 752-5501</span><br>
		</li>
		<li>
			<h3>K-Mart</h3>
			<span>2024 Hwy 2 East</span><br>
			<span class="tele">(406) 752-4261</span><br>
		</li>
		<li>
			<h3>Kelly Rae's</h3>
			<span>25 Batavia Lane</span><br>
			<span class="tele">(406) 752-5880</span><br>
		</li>
		<li>
			<h3>Snappy Sport Senter Inc.</h3>
			<span>1400 Us Hwy 2 East</span><br>
			<span class="tele">(406) 257-7525</span><br>
		</li>
		<li>
			<h3>Sportsman And Ski Haus</h3>
			<span>145 Hutton Ranch Rd</span><br>
			<span class="tele">(406) 755-6484</span><br>
		</li>
		<li>
			<h3>Wal-Mart Supercenter</h3>
			<span>170 Hutton Ranch Rd</span><br>
			<span class="tele">(406) 257-7535</span><br>
		</li>
	</ul>
</div>
<div>
	<h2>Lakeside</h2>
	<ul class="license-locations">
		<li>
			<h3>Sliters Hardware</h3>
			<span>106 Stoner Loop Po Box 787</span><br>
			<span class="tele">(406) 844-2442</span><br>
		</li>
	</ul>
</div>
<div>
	<h2>Polson</h2>
	<ul class="license-locations">
		<li>
			<h3>Wal-Mart</h3>
			<span>36318 Memory Lane</span><br>
			<span class="tele">(406) 883-9211</span><br>
		</li>
	</ul>
</div>
<div>
	<h2>Whitefish</h2>
	<ul class="license-locations">
		<li>
			<h3>Sportsman And Ski Haus</h3>
			<span>6475 Us Hwy 93 S, Mountain Mall</span><br>
			<span class="tele">(406) 862-3111</span><br>
		</li>
		<li>
			<h3>Stumptown Anglers</h3>
			<span>5790 Us Hwy 93 S</span><br>
			<span class="tele">(406) 862-4554</span><br>
		</li>
	</ul>
</div>
</body>
</html>