<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Howe's Fishing</title>

	<style>
		html, body {
			font-family: 'Calibri', sans-serif;
		}

		body {
			max-width: 960px;
		}

		a {
			color: dodgerblue !important;
		}

		.box-div {
			padding: 20px;
			border: 1px solid gainsboro;
			border-radius: 5px;
			display: inline-block;
		}

		.contact * {
			font-size: smaller;
			font-weight: 600;
		}

	</style>
</head>
<body>
<p>Hi, {{name}},</p>
<p>This is to inform you that you have been added as a guide on the Howe's fishing admin app.</p>
<div class="box-div">
	<p>username: <b>{{email}}</b></p>
	<p>temporary password: <b>{{password}}</b></p>
</div>
<p>You can change your password by clicking on the <a href="http://aablefishing.com/admin/password">password change</a> link at the top of the admin site.</p>
<div class="contact">
	<span>Mike & Cindy Howe</span><br>
	<span>Howe's Fishing - A Able / Mo Fisch Charters</span><br>
	<a href="tel:(406)%20257-5214" value="+14062575214" target="_blank">406-257-5214</a><br>
	<a href="http://www.howesfishing.com" target="_blank">howesfishing.com</a>
</div>
</body>
</html>